html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --background: rgb(255, 255, 255);
  --dark-grey: #333;
  --light-grey: #808080;
  --light-yellow: #fbfbcd;
  --black-100: #000;
  --black-80: #333;
  --black-60: #666;
  --black-40: #939393;
  --black-20: #e5e5e5;
  --black-15: #e7e7e9;
  --black-10: #f2f2f2;
  --black-5: #f7f7f7;
  --green-80: #3b755f;
  --green-60: #67c196;
  --green-40: #e2eae7;
  --green-20: #8bb0a2;
  --green-15: #e3f5ec;
  --green-10: #e0e8e4;
  --logo-green: #0c5a4b;
  --logo-light-green: #c3ff8e;
  --logo-blue: #2329ae;
  --logo-light-blue: #7ec6f8;
  --logo-red: #ff3865;
  --logo-purple: #cda5ff;
  --logo-yellow: #fff05c;
  --logo-orange: #ff895e;
  --red-80: #a80101;
  --red-60: #ff5656;
  --red-10: #ffe7e6;
  --error-red: #a80101;
  --bright-error-red: #ff0000;
  --box-padding: 40px;
  --wide-grid-spacing: 24px;
  --max-column-width: 1330px;
  --max-column-without-spacing-width: calc(
    var(--max-column-width) - (var(--wide-grid-spacing) * 2)
  );
  --header-height: 70px;
  --grid-gap-large: 24px;
  --grid-gap-small: 12px;
  --spacing: 24px;
  --border-width: 2px;
  --border: 1px solid black;
  --button-radius: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(201, 209, 217);
    background: rgb(13, 17, 23);

    --background: rgb(13, 17, 23);
    --border: 1px solid rgb(201, 209, 217);
  }
}

p {
  margin: 0;
}
